extends layout/app.pug

block content
  include:markdown-it(linkify langPrefix='highlight-') markdown/home/intro.md
  
  +example('Basic')
    basic-example

  +note()
    | The field must always have either a <code>name</code> or a <code>data-vv-name</code> attribute, which acts as the identifier for that input, however the name that appears in the error messages can be customized using <code>data-vv-as</code> attribute or it can use the <a href="localization.html#dictionary">dictionary object</a>

  .flex-center
    a(href="examples.html") More Examples

  include:markdown-it(linkify langPrefix='highlight-') markdown/home/errors.md
  .columns.is-mobile.rule-list
    include:markdown-it markdown/partials/_rules.md
  include:markdown-it(linkify langPrefix='highlight-') markdown/home/config.md